@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --top-bg: black;
    --bottom-bg: #191919;
    --blue: #4EA8DE;
    --purple: #5E60CE;
    --btnbg: #1E6F9F;
    --cardbg: #262626;
    --sticker: #333333;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* color: white; */
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--top-bg);
}

hr {
    border: none;
    border-top: 1px solid gray;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17%;
    gap: 12px;
}

.bottom {
    height: max-content;
    display: flex;
    background: var(--bottom-bg);
    border: none;
    justify-content: center;
    height: -webkit-fill-available;
}

.top>span {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

legend {
    align-self: center;
    display: flex;
    margin: auto;
    gap: 12px;
    width: 80%;
}

.purple {
    color: var(--purple);
}

.blue {
    color: var(--blue);
}

#addBtn {
    background: var(--btnbg);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    color: white;
    gap: 5px;
    display: flex;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

#addBtn:hover {
    scale: 1.1;
    background-color: var(--purple);
}

#search {
    width: 60%;
}

legend input,
select {
    background: var(--cardbg);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 16px;
    padding-inline: 15px;
    color: white;
}

legend input ::placeholder {
    color: white;
}

.content {
    margin-top: 50px;
    width: 56%;
}

.sticker {
    border-radius: 15px;
    color: white;
    background: var(--sticker);
    padding: 5px 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    gap: 10px;
}

.disp {
    display: none !important;
}

.nothing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: grey;
    gap: 20px;
}

.fa-clipboard-list {
    font-size: 55px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
    border-radius: 12px;
    border: 2px solid var(--sticker);
    gap: 10px;
}

.body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#card-foot {
    display: flex;
    gap: 12px;
    align-self: start;
    background: var(--sticker);
    border-radius: 12px;
    font-size: 10px;
    width: 100%;
}

.card>input {
    border-radius: 50px;
}

.card p {
    color: grey !important;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

i:hover {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .content {
        width: 90%;
    }

    form {
        flex-wrap: wrap;
        justify-content: start;
    }

    form input,
    button,
    select,
    #search {
        width: 100%;
    }
    
}

/* Login Form Styling */
/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container styling */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}

/* Form styling */
.form-container form {
    display: flex;
    flex-direction: column;
}

/* Form heading styling */
.form-container form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
}

/* Label styling */
.form-group label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
}

/* Input styling */
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.btn:hover {
    background-color: #0056b3;
}

/* Centering text */
.text-center {
    text-align: center;
    font-size: 14px;
    color: #555;
}

/* Link styling */
.text-center a {
    color: #007bff;
    text-decoration: none;
}

/* Link hover effect */
.text-center a:hover {
    text-decoration: underline;
}

/* Register Form Styling */
/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container styling */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
}

/* Form styling */
.form-container form {
    display: flex;
    flex-direction: column;
}

/* Form heading styling */
.form-container form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Input container styling */
.input-container {
    margin-bottom: 20px;
}

/* Label styling */
.input-container label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
}

/* Input styling */
.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}

/* Centering text */
.text-center {
    text-align: center;
    font-size: 14px;
    color: #555;
}

/* Link styling */
.text-center a {
    color: #007bff;
    text-decoration: none;
}

/* Link hover effect */
.text-center a:hover {
    text-decoration: underline;
}

